--- 
compiler: clang
install: skip
language: c
os: linux
script: 
  - "wget -q https://package.perforce.com/perforce.pubkey -O - | sudo apt-key add -"
  - "echo 'deb http://package.perforce.com/apt/ubuntu precise release' | sudo tee -a /etc/apt/sources.list"
  - "echo 'deb https://packagecloud.io/github/git-lfs/debian/ jessie main' | sudo tee -a /etc/apt/sources.list"
  - "sudo apt-get update -qq"
  - "sudo apt-get install -y apt-transport-https"
  - "sudo apt-get install perforce-server git-lfs"
  - "elif [ ${TRAVIS_OS_NAME:-'linux'} = 'osx' ]; then"
  - "brew update"
  - "brew tap homebrew/binary"
  - "p4 revert"
  - "p4 unshelve"
